.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffe781;
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1-2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #F95700;
  text-align: center;
  font-size: 1.9em;
}


h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  display: flexbox;
}

h5-6 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 16px;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
