
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  font-size: 36px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
