body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /*
  background: linear-gradient(45deg, #ff5900 30%, #FF8E53 90%) center center fixed;
  */
  
  background-image: url("./resources/pattern_transparent.png");
  /*
  background-image: url("./resources/pattern_transparent.png"), linear-gradient(45deg, #ff5900 30%, #FF8E53 90%);
  */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
